<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
    {% block content %}
      <h1>Wishlist List</h1>
      {% if wishlist_list %}
      <ul>
        {% for wishlist in wishlist_list %}
          <li>
            <a href="{{ wishlist.get_absolute_url }}">{{ wishlist.name }}</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no books in the library.</p>
      {% endif %}
    {% endblock %}
</body>
</html>